# URL de l'API backend (pour la production)
REACT_APP_API_URL=https://votre-backend.onrender.com

# Autres variables d'environnement si nécessaire
# REACT_APP_SOCKET_URL=https://votre-backend.onrender.com
